.topnav {
  background-color: rgb(236, 213, 243);
  overflow: hidden;
}

.topnav a {
	box-shadow:inset 0px 1px 0px 0px #a0729a;
	/* background-color:#eec0cf; */
	border:1px solid #575748;
  float: left;
	color:#776a22;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 200%;
  font-weight: bold;
}

code {
  display: block;
  background-color:#d6ccee;
}

a {
	display:inline-block;
	cursor:pointer;
	color:#776a22;
	font-family:Arial;
	font-weight: bolder;
  text-decoration:none;  
}
  
#content {  
  max-width: 800px;
  margin: auto;
  font-weight: normal;
  font-size: 100%;
}

#logo{
  display: block;
  margin: auto;
  padding: 1%;
  max-width: 250px;
}

body {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* background-color: rgb(168, 167, 167); */
	/* color: rgb(21, 30, 43); */
}